<?php echo $header; ?>
<div class="container">
  <ul class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
    <?php } ?>
  </ul>
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>
      <table class="table table-bordered table-hover">
		<tr>
		  <td><strong><?php echo $text_membership_group; ?></strong></td>
		  <td><?php echo $membership_group; ?></td>
		</tr>
		<tr>
		  <td><strong><?php echo $text_expiring; ?></strong></td>
		  <td><?php echo $expiring; ?></td>
		</tr>
		<?php if ((float)$rate) { ?>
		<tr>
		  <td><strong><?php echo $text_rate; ?></strong></td>
		  <td><?php echo $rate; ?>%</td>
		</tr>
		<?php } ?>
	  </table>
      <?php echo $content_bottom; ?></div>
    <?php echo $column_right; ?></div>
</div>
<?php echo $footer; ?>