{{ header }} {{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-right pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    <div class="panel panel-default card">
      <div class="panel-heading">
        <h3 class="panel-title card-header"><i class="fa fa-pencil fas fa-pencil-alt"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body card-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
		  <ul class="nav nav-tabs">
            <li class="nav-item active"><a href="#tab-general" data-toggle="tab" class="nav-link active">{{ tab_general }}</a></li>
            {{ about }}
          </ul>
		  <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
			  <div class="form-group row required">
                <label class="col-sm-2 control-label col-form-label" for="input-subject-1">{{ entry_subject_1 }}</label>
                <div class="col-sm-10">{% for language in languages %} 
                  <div class="input-group"><span class="input-group-addon input-group-prepend"><div class="input-group-text"><img src="{{ 'language/' ~ language.code ~ '/' ~ language.code ~ '.png' }}" title="{{ language.name}}" /></div></span>
					<input type="text" name="module_customer_group_membership_subject_1[{{ language.language_id }}]" value="{{ module_customer_group_membership_subject_1[language.language_id] ? module_customer_group_membership_subject_1[language.language_id] }}" placeholder="{{ entry_subject_1 }}" class="form-control" />
				  </div>
				  {% endfor %} 
				</div>
              </div>
			  <div class="form-group row required">
                <label class="col-sm-2 control-label col-form-label" for="input-email-1">{{ entry_email_1 }}</label>
                <div class="col-sm-10">{% for language in languages %} 
                  <textarea name="module_customer_group_membership_email_1[{{ language.language_id }}]" id="email-1-{{ language.language_id }}">{{ module_customer_group_membership_email_1[language.language_id] ? module_customer_group_membership_email_1[language.language_id] }}</textarea>
				  <br /><img src="{{ 'language/' ~ language.code ~ '/' ~ language.code ~ '.png' }}" title="{{ language.name}}" /><br />
				  {% endfor %} 
				</div>
              </div>
			  <div class="form-group row required">
                <label class="col-sm-2 control-label" for="input-duration-1">{{ entry_duration_1 }}</label>
                <div class="col-sm-10">
				  <input type="text" name="module_customer_group_membership_duration_1" value="{{ module_customer_group_membership_duration_1 }}" placeholder="{{ entry_duration_1 }}" class="form-control" />
				</div>
              </div>
			  <div class="form-group row required">
                <label class="col-sm-2 control-label col-form-label" for="input-subject-2">{{ entry_subject_2 }}</label>
                <div class="col-sm-10">{% for language in languages %} 
                  <div class="input-group"><span class="input-group-addon input-group-prepend"><div class="input-group-text"><img src="{{ 'language/' ~ language.code ~ '/' ~ language.code ~ '.png' }}" title="{{ language.name}}" /></div></span>
					<input type="text" name="module_customer_group_membership_subject_2[{{ language.language_id }}]" value="{{ module_customer_group_membership_subject_2[language.language_id] ? module_customer_group_membership_subject_2[language.language_id] }}" placeholder="{{ entry_subject_2 }}" class="form-control" />
				  </div>
				  {% endfor %} 
				</div>
              </div>
			  <div class="form-group row required">
                <label class="col-sm-2 control-label col-form-label" for="input-email-2">{{ entry_email_2 }}</label>
                <div class="col-sm-10">{% for language in languages %} 
                  <textarea name="module_customer_group_membership_email_2[{{ language.language_id }}]" id="email-2-{{ language.language_id }}">{{ module_customer_group_membership_email_2[language.language_id] ? module_customer_group_membership_email_2[language.language_id] }}</textarea>
				  <br /><img src="{{ 'language/' ~ language.code ~ '/' ~ language.code ~ '.png' }}" title="{{ language.name}}" /><br />
				  {% endfor %} 
				</div>
              </div>
			  <div class="form-group row required">
                <label class="col-sm-2 control-label col-form-label" for="input-duration-2">{{ entry_duration_2 }}</label>
                <div class="col-sm-10">
				  <input type="text" name="module_customer_group_membership_duration_2" value="{{ module_customer_group_membership_duration_2 }}" placeholder="{{ entry_duration_2 }}" class="form-control" />
				</div>
              </div>
			  <div class="form-group row">
				<label class="col-sm-2 control-label col-form-label" for="input-rebate">{{ entry_rebate_type }}</label>
				<div class="col-sm-10">
				  <select name="module_customer_group_membership_rebate_type" id="input-rebate" class="form-control">
					<option value="0"{{ module_customer_group_membership_rebate_type == '0' ? ' selected="selected"' }} >{{ text_none }}</option>
					<option value="1"{{ module_customer_group_membership_rebate_type == '1' ? ' selected="selected"' }} >{{ text_total }}</option>
					<option value="2"{{ module_customer_group_membership_rebate_type == '2' ? ' selected="selected"' }} >{{ text_product }}</option>
				  </select>
				</div>
			  </div>
			  <div class="form-group row">
				<label class="col-sm-2 control-label col-form-label" for="input-cron">{{ entry_cron }}</label>
				<div class="col-sm-10">
				  <textarea rows="3" class="form-control" readonly="true">{{ cron_command }}</textarea>
				</div>
			  </div>
			  <table id="module" class="table table-striped table-bordered table-hover">
				<thead>
				  <tr>
					<td class="text-right">#</td>
					<td class="text-left">{{ entry_limit }}</td>
					<td class="text-left">{{ entry_image }}</td>
					<td></td>
				  </tr>
				</thead>
				<tbody>
				  {% set module_row = 1 %} 
				  {% for module in module_customer_group_membership_module %} 
				  <tr id="module-row{{ module_row }}">
					<td class="text-right">{{ module_row }}</td>
					<td class="text-left"><input type="text" name="module[{{ module.key }}][limit]" value="{{ module.limit }}" placeholder="{{ entry_limit }}" class="form-control" /></td>
					<td class="text-left"><input type="text" name="module[{{ module.key }}][width]" value="{{ module.width }}" placeholder="{{ entry_width }}" class="form-control" />
					  <input type="text" name="module[{{ module.key }}][height]" value="{{ module.height }}" placeholder="{{ entry_height }}" class="form-control" />
					</td>
					<td class="text-left"><button type="button" onclick="$('#module-row{{ module_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
				  </tr>
				  {% set module_row = module_row + 1 %} 
				  {% endfor %} 
				</tbody>
				<tfoot>
				  <tr>
					<td colspan="3"></td>
					<td class="text-left"><button type="button" onclick="addModule();" data-toggle="tooltip" title="{{ button_module_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
				  </tr>
				</tfoot>
			  </table>
			</div>
			{{ tab }}
		  </div>
		</form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
{% for language in languages %} 
{% if oc_ver3_1 %}
$('#email-1-{{ language.language_id }}').ckeditor({height: 300});
$('#email-2-{{ language.language_id }}').ckeditor({height: 300});
{% else %}
$('#email-1-{{ language.language_id}}').summernote({height: 300});
$('#email-2-{{ language.language_id }}').summernote({height: 300});
{% endif %}
{% endfor %} 
//--></script>
<script type="text/javascript"><!--
var token = {{ module_row }} ;

function addModule() {	
	html  = '<tr id="module-row' + token + '">';
	html += '  <td class="text-right">' + token + '</td>';
	html += '  <td class="text-left"><input type="text" name="module_customer_group_membership_module[' + token + '][limit]" value="5" placeholder="{{ entry_limit }}" class="form-control" /></td>';
	html += '  <td class="text-left"><input type="text" name="module_customer_group_membership_module[' + token + '][width]" value="200" placeholder="{{ entry_width }}" class="form-control" /> <input type="text" name="module_customer_group_membership_module[' + token + '][height]" value="200" placeholder="{{ entry_height }}" class="form-control" /></td>';
	html += '  <td class="text-left"><button type="button" onclick="$(\'#module-row' + token + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
	html += '</tr>';
	
	$('#module tbody').append(html);
	
	token++;
}
//--></script>
{{ footer }}