{{ header }} 
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %} 
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %} 
  </ul>
  <div class="row">{{ column_left }} 
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }} 
      <table class="table table-bordered table-hover">
		<tr>
		  <td><strong>{{ text_membership_group }}</strong></td>
		  <td>{{ membership_group }}</td>
		</tr>
		<tr>
		  <td><strong>{{ text_expiring }}</strong></td>
		  <td>{{ expiring }}</td>
		</tr>
		{% if rate %} 
		<tr>
		  <td><strong>{{ text_rate }}</strong></td>
		  <td>{{ rate }} %</td>
		</tr>
        {% endif %} 
      </table>
      {{ content_bottom }}
	</div>
    {{ column_right }}
  </div>
</div>
{{ footer }} 